<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (vet()) {
      <div>
        <h2 data-cy="vetDetailsHeading"><span>Vet</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ vet()!.id }}</span>
          </dd>
          <dt><span>First Name</span></dt>
          <dd>
            <span>{{ vet()!.firstName }}</span>
          </dd>
          <dt><span>Last Name</span></dt>
          <dd>
            <span>{{ vet()!.lastName }}</span>
          </dd>
          <dt><span>Specialties</span></dt>
          <dd>
            @for (specialties of vet()!.specialties; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/specialty', specialties.id, 'view']">{{ specialties?.name }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/vet', vet()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
